* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.8;
}

.container {
  height: 100%;
  min-height: 100vh;
  background-image: url(../public/firework-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin: -80px 0 40px;
}

.count-down {
  text-align: center;
  font-size: 40px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}


.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.timer h2 {
  margin: 0 0 20px;
  font-size: 4rem;
}


.message {
  font-size: 60px;
}


small {
  padding-top: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
}

.year {
  font-size: 200px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 80%);
  margin: 0;
}
